<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>OnePay收银台</title>
	</head>
	<body>
		<div class="max-w-screen-sm mx-auto">
			<slot />
			<div class="mt-8 text-sm text-center">
				开源地址：<a
					href="https://github.com/tans/onepay"
					class="text-blue-500 hover:text-blue-700"
					target="_blank">OnePay</a
				>
			</div>
			<div class="mt-8 text-sm text-center">
				OnePay收银台 - 开源在线支付集成解决方案
			</div>
		</div>
	</body>
</html>
