---
import "@/styles/globals.css";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>OnePay收银台</title>
		<link rel="stylesheet" href="/styles/globals.css" />
		<script
			defer
			src="https://umami.minapp.xin/script.js"
			data-website-id="97854b55-e06d-480b-9db7-a9f1188fc74c"></script>
	</head>
	<body>
		<div class="max-w-screen-sm mx-auto">
			<slot />

			<div class="mt-8 bg-gray-100 p-4 max-w-sm mx-auto rounded-md">
				<div class="text-gray-500 text-xs text-center">
					<a
						href="https://github.com/tans/onepay"
						class="text-blue-500 hover:text-blue-700"
						target="_blank"
					>
						OnePay
					</a>
					收银台 - 开源在线支付集成解决方案
				</div>
			</div>
		</div>
	</body>
</html>
